/*---------- Google Fonts ----------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*---------- CSS Reset ----------*/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

html {scroll-behavior: smooth;}
body {font-family: "Poppins", sans-serif;}
button, a {
    font-style: inherit;
    text-decoration: inherit;
    color: inherit;}
a:hover {text-decoration: underline;}

/*---------- Global Variables ----------*/
:root {
    --side-background-color: #040b14;
    --theme-color: #00A78E;
    --icon-color: #2C2F3F;
    --text-color: #525252;
    --background-color: #F7F7F7;}

/*--------------- Layout ---------------*/
section {
    padding: 70px 30px;
    margin-left: 300px;
    max-width: -webkit-fill-available;}
section:nth-of-type(odd) {
    background: rgba(240, 240, 240, 0.4);
}

@media screen and (max-width: 1050px) {

    section {margin-left: 0;}}

@media screen and (max-width: 500px) {

    section {
    padding: 35px 15px;
    margin-left: 0;}}

/*------------- Components -------------*/
img {width: 100%;}
.list {list-style: none;}
.divider ~ p {
    color: var(--text-color);
    font-size: 15px;
    letter-spacing: 0.4px;
    font-weight: 400;
    margin-top: 15px;}

/*------------------------------ Heading -----------------------------*/
.subheading {
    color: black;
    font-size: 30px;
    margin-bottom: 10px;}
.divider {
    width: 80px;
    height: 4px;
    background: var(--theme-color);
    border-radius: 3px;}

/*--------------- Header ---------------*/
header {
    height: -webkit-fill-available;
    width: 300px;
    padding: 15px 30px;
    background: var(--side-background-color);
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transition: 0.2s;
    z-index: 99;}

/* header::-webkit-scrollbar {
    display: none;
} */

header .profile {
    text-align: center;
    margin: 10px 0;}
.profile .user-avatar {
    width: 150px;
    border-radius: 50%;
    border: 10px solid var(--icon-color);
    transition: 0.2s;}
.profile .user-avatar:hover {
    border: 10px solid var(--theme-color);}

header h2 {
    font-size: 32px;
    color: white;
    font-weight: 600;
    text-align: left;
    padding-left: 0.5rem;}
header .social-icons {
    text-align: initial;
    margin-top: 10px;
    text-wrap: nowrap;}
header .social-icons a {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    line-height: 37px;
    background: var(--icon-color);
    color: white;
    font-size: 18px;
    margin: 1.5px 0.5rem;
    transition: 0.2s;}
header .social-icons a:hover {background: var(--theme-color);}

/*--------------- NavBar ---------------*/
nav {margin-block: 10px;}
.list__item a {
    display: inline-block;
    text-decoration: none;
    padding: 7px 10px;
    margin: 7px 0;
    color: lightgray;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.6px;
    width: -webkit-fill-available;
    border-bottom: 1px solid var(--text-color);
    margin-bottom: 0.25rem;}
nav .list__item a:hover {border-bottom: 1px solid var(--theme-color);}
.list__item a.active {border-bottom: 1px solid var(--theme-color);}
nav .list__item i {
    margin-right: 10px;
    font-size: 20px;
    transition: 0.2s;}
nav .list__item a:hover i {
    color: var(--theme-color);}
nav .list__item .active i {
    color: var(--theme-color);}

/*--------------- Footer ---------------*/
.footer {
    text-align: center;
    background: var(--side-background-color);
    width: 300px;
    color: lightgray;
    font-size: 14px;
    letter-spacing: 0.6px;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: 0.2s;}
.footer a {
    text-decoration: none;
    color: var(--theme-color);
    transition: 0.2s;}
.footer a:hover {color: white;}

/*---------- Mobile Nav Toggle ----------*/
#menuBtn {
    display: none;
    position: fixed;
    top: 25px;
    right: 15px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    color: white;
    background: var(--theme-color);
    text-align: center;
    line-height: 42px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
    z-index: 99;}

@media screen and (max-width: 1050px) {

    header, .footer {left: -300px;}
    
    #menuBtn {display: unset;}}
.mobile-nav-active header, .mobile-nav-active .footer {left: 0;}

/*------------------------------ Body -----------------------------*/
main {
    transition: 0.2s;
    background: var(--background-color);}

/*-------------------------- Home Section -------------------------*/
#home {
    /* background: linear-gradient(145deg, var(--background-color), var(--side-background-color)); */
    background-image: linear-gradient(145deg, var(--background-color), var(--side-background-color));
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;}
.home-row {z-index: 1;}
.home-row h2 {
    font-size: 60px;
    color: var(--background-color);
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 10px;
    line-height: 70px;}
.home-row span {color: var(--theme-color);}
.home-row p {
    color: whitesmoke;
    font-size: 30px;
    font-weight: 500;}
p .auto-input {
    color: whitesmoke;
    border-bottom: 4px solid var(--theme-color);}

@media screen and (max-width: 670px) {
    
    #home {
        justify-content: unset;
        padding-left: 30px;}
    .home-row {margin-block: 60%;}
    .home-row h2 {
        font-size: 35px;
        letter-spacing: 0;
        line-height: 50px;}
    .home-row p {
        font-size: 20px;
        font-weight: 400;}}

@media screen and (max-width: 500px) {
    #home {padding-left: 20px;}}

/*-------------------------- About Section ------------------------*/
#about .about-col {
    display: flex;
    gap: 20px;
    margin-top: 25px;}
#about .img-col {
    flex-basis: 35%;
    max-width: 265px;
    max-height: 265px;
    overflow: hidden;
    text-align: center;}
#about .img-col img {transform: scale(1.45);}
#about .info-col {flex-basis: 70%;}
#about .info-col h3 {
    color: var(--theme-color);
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 0.5px;
    margin-top: -10px;}
#about .info-col p {
    color: var(--text-color);
    font-size: 15px;
    letter-spacing: 0.5px;
    font-style: italic;}
#about .icon-list-col {
    display: flex;
    margin-top: 20px;
    gap: 40px;}
#about .icon-list li {margin: 15px;}
#about .icon-list i {color: var(--theme-color);}
#about .icon-list strong {
    color: var(--side-background-color);
    font-weight: 600;
    margin-right: 2px;}
#about .icon-list span {
    color: var(--text-color);
    font-weight: 600;
    font-size: 14px;}

@media screen and (max-width: 1050px) {
    #about .icon-list li {margin-left: 0;}
    #about .icon-list:first-child li:last-child {margin-bottom: 0;}}

@media screen and (max-width: 768px) {

    .about-col {flex-direction: column;}
    #about .icon-list-col {
        gap: 10px;
        flex-direction: row;
    }}

@media screen and (max-width: 500px) {
    #about .img-col {margin-inline: auto;}
    #about .icon-list-col {
        gap: 10px;
        flex-direction: column;}
    #about .info-col h3 {
        font-weight: 700;
        font-size: 25px;
        letter-spacing: 0;}
    #about .info-col p {
        font-size: 14px;
        letter-spacing: 0;}
    #about .icon-list-col {margin-top: 10px;}
    #about .icon-list:first-of-type li:last-child {margin-bottom: 0;}
    #about .icon-list:last-of-type li:first-child {margin-top: 5px;}}

/*-------------------------- Facts Section ------------------------*/
section:nth-of-type(2){padding-block: 0;}
#fact .fact-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-top: 50px;}
#fact .fact-box i {
    color: var(--theme-color);
    font-size: 40px;}
#fact .fact-box strong {
    color: var(--side-background-color);
    font-size: 30px;
    margin-left: 5px;
    font-size: 600;}
#fact .fact-box p {
    color: var(--text-color);
    font-weight: 500;
    font-size: 16px;}

@media screen and (max-width: 805px) {
    #fact .fact-row {
        text-align: center;
        grid-template-columns: repeat(2, 1fr);}}

@media screen and (max-width: 500px) {
    #fact .fact-row {text-align: unset;}}

/*-------------------------- Skills Section -----------------------*/
#skills .skill-row {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 400px));
    grid-gap: 20px;
    margin-top: 35px;}
#skills .skill-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;}
#skills .skill-info h3,
#skills .skill-info p {
    color: var(--side-background-color);
    font-weight: 600;
    font-size: 15px;
    font-style: italic;}
#skills .skill-outter-line {
    width: 100%;
    height: 10px;
    background: lightgray;
    border-radius: 15px;}
#skills .skill-inner-line {
    height: 10px;
    background: var(--theme-color);
    border-radius: 20px;}
#skills .skill-box:nth-of-type(1) .skill-inner-line {width: 80%;}
#skills .skill-box:nth-of-type(2) .skill-inner-line {width: 85%;}
#skills .skill-box:nth-of-type(3) .skill-inner-line {width: 30%;}
#skills .skill-box:nth-of-type(4) .skill-inner-line {width: 15%;}
#skills .skill-box:nth-of-type(5) .skill-inner-line {width: 35%;}

/*-------------------------- Resume Section -----------------------*/
.resume-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 35px;}
.resume-cols {flex-basis: 50%;}
.resume-row h3 {
    color: var(--side-background-color);
    font-weight: 600;
    font-size: 23px;
    margin: 15px 0;}
.resume-row .my-info {
    padding: 0 20px;
    margin: 20px 0;
    border-left: 2px solid var(--theme-color);
    position: relative;}
.resume-row .my-info::before {
    content: "";
    position: absolute;
    top: 0;
    left: -8px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid var(--theme-color);
    background: white;}
.resume-cols h4 {
    color: var(--side-background-color);
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;}
.resume-cols .my-info p {
    color: var(--text-color);
    font-size: 15px;
    font-weight: 600;
    font-style: italic;
    margin: 10px 0;}
.resume-cols .my-info li {
    margin-block: 10px;
    margin-left: 20px;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 600;}
.resume-row .my-edu {
    padding: 0 20px;
    border-left: 2px solid var(--theme-color);
    position: relative;}
.resume-cols .sp-box {
    display: inline-block;
    margin: 15px 0;
    padding: 4px 22px;
    background: rgb(190, 190, 190);
    color: white;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    font-style: italic;}
.resume-cols span + p {
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 15px;}
.resume-cols span + p + p {
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    font-style: italic;}
.resume-row .pro-exp {
    padding: 0 20px;
    margin: 0;
    border-left: 2px solid var(--theme-color);
    position: relative;}
.resume-row .pro-exp:last-of-type::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -8px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid var(--theme-color);
    background: white;}
.resume-cols .pro-exp li {
    margin-block: 10px;
    margin-left: 20px;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 600;}
.resume-cols .pro-exp:first-of-type li:last-of-type {
    margin-bottom: 0;
    padding-bottom: 20px;}
@media screen and (max-width: 805px) {
    #resume .resume-row {
        flex-direction: column;
        gap: 0;}
    .resume-cols {flex-basis: 100%;}}
@media screen and (max-width: 500px) {}

/*-------------------------- Portfolio Section -----------------------*/
.portfolio-image > img {
    margin-top: 0.5rem;
    border-radius: 10px;
}
.portfolio-row {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;}
.portfolio-item {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);}
.portfolio-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    text-align: center;
    background: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 300ms;
    visibility: none;
    transform: scale(0);
    border-radius: 10px;
    opacity: 0.95;
}
.portfolio-item:hover .portfolio-info {
    transform: scale(1);
    visibility: visible;}
.portfolio-item h4 {
    color: var(--background-color);
    font-size: 25px;
    font-weight: 600;}
.portfolio-item  p {
    color: var(--background-color);
    font-size: 14px;}
.portfolio-info a {
  margin-top: 1rem;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 40px;
  height: 40px;
  background: var(--background-color);
  border-radius: 50%;
  color:var(--side-background-color);
  line-height: 46px;
  transition: 300ms;
}
.portfolio-info a:hover {
    background: var(--side-background-color);
    color: var(--background-color);
}